
.navbar-brand .imersao-logo {
    max-height: 215px;
    transition: all .5s;
    width: auto;
}

.imersao-logo-rodape {
    max-height: 252px;
    transition: all .5s;
    width: auto;
}

.phone{
    width:40%;
}

.display-anuncio-inicial{
    font-size:3.0rem;
}

.menu-superior{
    font-size: 18px;
}

.link-botao-participar{
    text-decoration: none;
    color: #fff;
}

.display-anuncio-final{
    color:white;
    font-size: 3.5  rem;
}

.subtitulo-anuncio-final{
    color:white;
}

.imagem-menor {
    max-width:100%;
}

ul li.item{
    line-height: 20px;
}

.botao-calltoaction{
    width:100%;
    font-size:3.1rem; 
    font-weight:600; 
    padding:20px;
    margin-top:5px;
    margin-bottom:20px;
}

.btn-amarelo-imersao {
    --bs-btn-color: #fff;
    --bs-btn-bg: #f7a110;
    --bs-btn-border-color: #f7a110;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f7a110;
    --bs-btn-hover-border-color: #f7a110;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f7a110;
    --bs-btn-active-border-color: #f7a110;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f7a110;
    --bs-btn-disabled-border-color: #f7a110;
}

.btn-roxo-imersao {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e7135f;
    --bs-btn-border-color: #e7135f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e7135f;
    --bs-btn-hover-border-color: #e7135f;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e7135f;
    --bs-btn-active-border-color: #e7135f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e7135f;
    --bs-btn-disabled-border-color: #e7135f;
}